In [1]:
!python --version

Python 3.9.16

In [3]:
from google.colab import drive

drive.mount('/content/gdrive')

train_url = 'gdrive/My Drive/Colab Notebooks/nlp-2023/train.csv'
test_url = 'gdrive/My Drive/Colab Notebooks/nlp-2023/test.csv'

Mounted at /content/gdrive

In [2]:
from nltk.stem import SnowballStemmer
from nltk.stem import WordNetLemmatizer
snowball_stemmer_obj = SnowballStemmer("english")
lemmatizer = WordNetLemmatizer()

In [4]:
import pandas as pd
df_train = pd.read_csv(train_url)
df_test = pd.read_csv(test_url)

In [5]:
df_train

,class,title,text
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."
...,...,...,...
119995,1,Pakistan's Musharraf Says Won't Quit as Army C...,KARACHI (Reuters) - Pakistani President Perve...
119996,2,Renteria signing a top-shelf deal,Red Sox general manager Theo Epstein acknowled...
119997,2,Saban not going to Dolphins yet,The Miami Dolphins will put their courtship of...
119998,2,Today's NFL games,PITTSBURGH at NY GIANTS Time: 1:30 p.m. Line: ...
119999,2,Nets get Carter from Raptors,INDIANAPOLIS -- All-Star Vince Carter was trad...

Warning: total number of rows (120000) exceeds max_rows (20000). Limiting to first (20000) rows.